@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;


}

html, body {
    background-color: black;
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
#openDoor img {
  width:"500px";
}
.top-right-image {
  position: absolute;
  top: 0;
  right: 0;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.w-full {
  width: 100%;
}
.h-screen {
  height: 100vh;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;

} 
.custom-container{ 
  position: absolute;
  width: 20%; 
  min-width: 580px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 50px 5px;
  display: grid;
  justify-items: center;
  font-family: 'Cairo', sans-serif;
}


.drop-main {
  display: flex;
  align-items: center;
  font-size: 8rem;
  margin: 1.5rem;
  gap:2rem;
  justify-content: center;
  font-family: "Russo One", sans-serif;

}
.d1 {
  opacity: 0;
  animation: drop 2s linear forwards infinite;
  color: #333232;
}
.d2 {
  opacity: 0;
  animation: drop 2s linear forwards 0.2s infinite;
  color: #333232;
}
.d3{
  opacity: 0;
  animation: drop 2s linear forwards 0.4s infinite;
  color: #333232;
}

@keyframes drop {
  0% {
      transform: translateY(-200px);
      opacity: 0;
  }
  50% {
      transform: translateY(0px);
      opacity: 1;
  }
  65% {
      transform: translateY(-17px);
      opacity: 1;
  }
  75% {
      transform: translateY(-22px);
      opacity: 1;
  }
  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}

.animated-button {
    background-color: #333232;
    color: #ffffff;
    font-size: 2rem;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px 0 #333232;
    width: 180px;
    animation: example 1s infinite;
  }
  
  @keyframes example {
    0% {background-color: #333232;}
    50% {background-color: #120f0f;}
    100% {background-color: #333232;}
  }

  .back-icon {
    position: fixed;
    top: 30px;
    left: 15px;
    cursor: pointer;

  }
  
  .back-icon i {
    font-size: 50px;
    color: #ffffff;
  }

  .custom-card {
    width: auto;
    visibility: hidden;
  }

  .timer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .timer {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
  }
  #clock{
    color: white;
    font-size: 4rem;
  }
  .shake-effect{
    animation: shake 0.5s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.lock-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  gap: 2rem;
}
.lock-icons i {
  color: #000000;
}
  
.lock-icons a:hover i {
  color: #FF0000; 
}

.card{
  background-color: #333232;
  text-align: center; 
  color: red;
}

.text{
        font-family: 'Liberty';
        font-weight: 100;
        font-size: 4rem;
        letter-spacing: -0.10em;
        flex-flow: row;
}
.text .letter{
      color: #d9fdff;
            text-shadow: 0 0 1rem #ff0101;
            display: inline-block;

           
}
.text .letter-2{
transform: translate(-0.2rem, 1rem) rotate(10deg);
animation: flicker 2s ease-in-out infinite alternate;
}

@keyframes flicker{
    0%{
        opacity: 1;
        transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    5%{
        opacity: 1;
        transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    5.5%{
        opacity: 0;
        transform: translate(-0.2rem, 1rem) rotate(10deg)
    }
    6%{
        opacity: 1;
        transform: translate(-0.2rem, 1rem) rotate(10deg)
    }
    6.5%{
        opacity: 1;
        transform: translate(-0.2rem, 1rem) rotate(10deg)
  }
    7%{
        opacity: 0;
        transform: translate(-0.2rem, 1rem) rotate(10deg)
    }
    8%{
        opacity: 1;
        transform: translate(-0.2rem, 1rem) rotate(10deg)
    }
    50%{
        opacity: 1;
        transform: translate(-0.2rem, 1rem) rotate(13deg)
    }
    100%{
        opacity: 1;
        transform: translate(-0.2rem, 1rem) rotate(10deg)
    }
}

.popup-container{
  display: none;
  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 58%;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
 
}

.popup-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  gap: 1rem;
  margin-top: 20px;
  font-family: "Russo One", sans-serif;
  font-size: 20px;
  flex-wrap: nowrap;



}
.popup-content h2{
  font-weight: bold;
}
.popup-content p{
  color: #e60000;
  font-size: 20px;
}
.popup-content img{
  width: 300px;
}
.popup-close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup-close:hover {
  color: #e60000;
}
.check-button {
  background-color: #333232;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 15px 0 #333232;
  width: 100px;
  animation: example 1s infinite;
}
#meme-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}
#meme-container img{
  width: 100%;
  height: 100%;
}


.container-lamp
{
    width: 100%;
    max-width: 800px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    
}

input[type='checkbox']
{
    --i: 0;
    appearance: none;
    width: 50px;
    height:50px;
    left: calc(var(--i) * 130px + 50px);
    top: 230px;
    border: 2px solid;
    background: #a30a0a;
    position: absolute;
    cursor: pointer;
    pointer-events: auto !important;

}
input[type='checkbox']:after
{
    content: 'OFF';
    position: absolute;
    height: 25px;
    line-height: 21px;
    background: #a5a5a5;
    border: solid 2px;
    box-sizing: border-box;
    bottom: 10px;
    left: -2px;
    width: 50px;
    text-align: center;
    color: #404040;
    font-weight: bold;
}
input[type='checkbox']:checked:after
{
    content: 'ON';
    bottom: 25px;
}
input[type='checkbox']:checked
{
    background: #076307;
}

input[type='checkbox'] ~ label
{
    pointer-events: none;
}

#switch1{--i: 0}
#switch2{--i: 1}
#switch3{--i: 2}
#switch4{--i: 3}
#switch5{--i: 4}
#switch6{--i: 5}

#switch1 ~ label[for='switch1']
{
    --switch1: 0;
}

#switch1:checked ~ label[for='switch1']
{
    --switch1: 1;
}

#switch2 ~ label[for='switch2']
{
    --switch2: 0;
}
#switch2:checked ~ label[for='switch2']
{
    --switch2: 1;
}

#switch3 ~ label
{
    --switch3: 0;
}
#switch3:checked ~ label
{
    --switch3: 1;
}

#switch4 ~ label
{
    --switch4: 0;
}
#switch4:checked ~ label
{
    --switch4: 1;
}

#switch5 ~ label
{
    --switch5: 0;
}
#switch5:checked ~ label
{
    --switch5: 1;
}

#switch6 ~ label
{
    --switch6: 0;
}
#switch6:checked  ~ label
{
    --switch6: 1;
}


.lamp
{
    --j: 0;
    filter: drop-shadow(20px 20px 5px rgba(0, 0, 0, 0.4));
    position: absolute;
    transform: scale(.5) translateX(-55px);
    left: calc(var(--j) * 130px + 24px);
}

.bulb
{
    --val: 0%;
    position: absolute;
    width: 120px;
    height: 190px;
    background: radial-gradient(transparent 50%, gray), linear-gradient(transparent 50%, yellow 50%);
    background-size: 140px 210px, 100% 200%;
    background-position: -10px -15px, 0 var(--val);
    border-radius: 50%;
    left: 90px;
    top: 40px;
    border: 1px solid rgba(173, 173, 173, 0.56);
    box-sizing: border-box;

}


.bottom
{
    position: absolute;
    width: 80px;
    height: 60px;
    background-color: lightslategray;
    background-image: linear-gradient(transparent 90%, black 90%, black),linear-gradient(5deg, transparent 46%, gray 46%, gray 54% ,transparent 54%),  linear-gradient(90deg, gray, #DDD, #EEE);
    background-size: 100% 100%, 100% 20%, 100% 100%;
    left: 110px;
    top: 210px;
    clip-path: polygon(0 0, 10% 10%, 10% 80%, 50% 100%, 90% 80%, 90% 10%, 100% 0);
    

}

#lamp1 {--j: 0;}
#lamp2 {--j: 1;}
#lamp3 {--j: 2;}
#lamp4 {--j: 3;}
#lamp5 {--j: 4;}
#lamp6 {--j: 5;}

#lamp1 .bulb
{
    --val: calc((var(--switch2) + var(--switch3) + var(--switch5) + var(--switch6)) * 100%);
}
#lamp2 .bulb
{
    --val: calc((var(--switch2) + var(--switch4)) * 100%);
}
#lamp3 .bulb
{
    --val: calc((var(--switch1) + var(--switch3) + var(--switch4) + var(--switch5)) * 100%);
}
#lamp4 .bulb
{
    --val: calc((var(--switch4) + var(--switch5)) * 100%);
}
#lamp5 .bulb
{
    --val: calc((var(--switch1) + var(--switch3) + var(--switch4) + var(--switch6)) * 100%);
}
#lamp6 .bulb
{
    --val: calc((var(--switch1) + var(--switch5)) * 100%);
}

.confetti {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}
.confetti-piece {
  position: absolute;
  width: 10px;
  height: 30px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(-40deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 182ms;
  animation-duration: 1116ms;
}
.confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(4deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 161ms;
  animation-duration: 1076ms;
}
.confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(-51deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 481ms;
  animation-duration: 1103ms;
}
.confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(61deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 334ms;
  animation-duration: 708ms;
}
.confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(-52deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 302ms;
  animation-duration: 776ms;
}
.confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(38deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 180ms;
  animation-duration: 1168ms;
}
.confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(11deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 395ms;
  animation-duration: 1200ms;
}
.confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(49deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 14ms;
  animation-duration: 887ms;
}
.confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(-72deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 149ms;
  animation-duration: 805ms;
}
.confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(10deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 351ms;
  animation-duration: 1059ms;
}
.confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(4deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 307ms;
  animation-duration: 1132ms;
}
.confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(42deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 464ms;
  animation-duration: 776ms;
}
.confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(-72deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 429ms;
  animation-duration: 818ms;
}
.confetti-piece:nth-child(odd) {
  background: #7431e8;
}
.confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  animation-duration: 2500ms;
  animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
background: red;
}
@keyframes makeItRain {
  from {opacity: 0;}
  50% {opacity: 1;}
  to {transform: translateY(350px);}
}


.image-link {
  display: inline-block;
  position: relative;
}

.image-link img {
  transition: opacity 0.3s;

}

.image-link:hover img {
  color: #a30a0a;
  background-color: #e60000;
  opacity: 0.8;
 
}

.image-link:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
 
  
}

.image-link:hover::after:hover {
  opacity: 1;
 
}
.text-center input {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}


@media (max-width: 1000px) {
  .popup-container {
    top: 55%;
    width: 100%;
    overflow: auto;
    overflow-y:auto ;
    
  }
  .drop-main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 5rem;
    margin: 1.5rem;
    gap:1rem;
    justify-content: center;
    font-family: "Russo One", sans-serif;
  
  }
  .card img{
    width: 100%;
  }

 
}

 
 

  